body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(to right, #ff9a9e, #fad0c4);
  text-align: center;
  padding: 40px;
}

.proposal {
  background: white;
  padding: 30px;
  border-radius: 20px;
  max-width: 600px;
  margin: auto;
}

button {
  padding: 12px 25px;
  margin: 10px;
  font-size: 18px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
}

#yes-btn {
  background: #ff4d6d;
  color: white;
}

#no-btn {
  background: #ccc;
}
